<a href="https://colab.research.google.com/github/krishshah920/AI_ML_Lab/blob/main/Find_s_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Find-s Algorithm**

1. Initialize h to the most specific hypothesis in H
2.For each positive training instance x
      For each attribute constraint a in h
        If the constraint a is satisfied by x
           The do nothing
        Else
          replace a in h by the next more general constraint that is satisfied by x
3.Output hypothesis h

**Program**

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('finds.csv')
data

     sky air temp  humidity    wind water forecast enjoy sport
0  sunny     warm    normal  strong  warm     same         yes
1  sunny     warm      high  strong  warm     same         yes
2  rainy     cold      high  strong  warm   change          no
3  sunny     warm      high  strong  cool   change         yes

In [4]:
concept = np.array(data)[:,:-1]
concept

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [5]:
target = np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [11]:
def training(con,tar):
  for i,val in enumerate(tar):
    if val=='yes':
      specific_hyp = con[i].copy()
      break
  for i,val in enumerate(con):
    if tar[i]=='yes':
      for x in range(len(specific_hyp)):
        if val[x] != specific_hyp[x]:
          specific_hyp[x] = '?'
        else:
          pass
  return specific_hyp

In [12]:
print(training(concept,target))

['sunny' 'warm' '?' 'strong' '?' '?']